@charset "utf-8";
/* CSS Document */
html{
	text-align:center;
	font-size:14px;
	font-family: "Times New Roman", Times, serif;
	margin:0;
	padding:0;
	vertical-align:middle;
}
body{
	margin:0;
	padding:0;
	color:#000;
	vertical-align:middle;
	background-color: #FFF;
}
a{
	text-decoration:inherit;
	color:#000;
}
a:hover{
	color:#000;

}
a:visited{
	color: #000;
}

#main{
	width:980px;
	height:600px;
	border-left:solid #000 1px;
	border-right:solid #000 1px;
	background-color:#FFF;
	margin-bottom:0px;
}
.main_col1{
	width: 300px;
	height:600px;
	border-left:solid #000 1px;
	border-right:solid #000 1px;
	background-color:#FFF;
	margin-bottom:0px;
}
.main_col2{
	width: 300px;
	height:600px;
	border-left:solid #000 1px;
	border-right:solid #000 1px;
	background-color:#FFF;
	margin-bottom:0px;
}
.main_col3{
	width: 300px;
	height:600px;
	border-left:solid #000 1px;
	border-right:solid #000 1px;
	background-color:#FFF;
	margin-bottom:0px;
}
#header{
	background-color:#08406f;
	border-bottom:solid #000 1px;
}
#footer{
	background-color:#08406f;
	height: 100px;
	width: 980px;
	padding-top:10px;
	padding-bottom:10px;
	border:solid #000 1px;
}
.info_teach{
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	padding-bottom:10px;
	padding-left: 50px;
	text-align:left;
}
.info_teach_detail{
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	padding-bottom:10px;
	padding-left: 100px;
	text-align:left;
	font-weight:normal;
}
.banner{
	width:980px;
	background-color:green;
}

.banner_chuchay{
	width:980px;
	background-color: #CCF;
	padding-top:5px;
	padding-bottom:5px;
}
.ngaythang{
	text-align:right;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	vertical-align:middle;
	padding-bottom:5px;
	padding-top:5px;
	padding-right:5px;
	height:15px;
}